/* Mobile Phone Portrait */
.Landing {
    height: 100vh;
    box-shadow: 0 -5px 10px -5px;
}

.description {
    margin: 4vh;
    font-size: 10vw;
}

.tourButton {
    display: block;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh;
}

.registerButton {
    display: block;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh;
}

.landingButton:link,
.landingButton:visited,
.landingButton:hover,
.landingButton:active {
    color: black;
} 

.version {
    font-size: 2vh;
    bottom: 0;
    position: absolute;
}

/* iPhone X 375x812 Portrait */
@media only screen and (min-width: 375px) and (min-height: 812px) {
    .description {
        margin-top: 8vh;
        text-align: center;
    }
}

/* iPad 768x1024 Portrait */
@media only screen and (min-width: 768px) and (min-height: 1024px) {
    .description {
        font-size: 8vw;
    }
}

/* iPad 1024x768-1366x1024 Landscape */
/* @media only screen 
and (min-width: 1024px)
and (max-width: 1366px)
and (min-height: 768px) 
and (max-height: 1024px) {
    .Landing {
        text-align: center;
    }

    .description {
        font-size: 7vw;
    }

    .tourButton, .registerButton {
        margin-top: 10vh;
        display: inline;
        width: 30vw;
    }

    .tourButton {
        margin-right: 5vw;
    }

    .registerButton {
        width: 40vw;
        margin-left: 5vw;
    }
} */