.RecipeCard {
    border: 2px solid black;
    border-radius: 15px;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    list-style: none;
    text-align: center;
    background-color: #A5C2FF;
    overflow: hidden;
}

.RecipeCard_title {
    border-bottom: 1px solid black;
    background-color: #6495ED;
    font-weight: bolder;
}

.RecipeCard_description  {
    font-size: .8em;
    margin: 1vh;
}