body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bellota Text', cursive;
}

.App {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #A5C2FF;
}