body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bellota Text', cursive;
}

.App {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets/background.png');
    background-size: cover;
}

@media screen and (orientation: portrait) {
    .landscape_notice {
        visibility: hidden;
    }
}

@media screen and (orientation: landscape) {
    .App {
        visibility: hidden;
    }

    .landscape_notice {
        visibility: visible;
        opacity: 100%;
        background-color: rgb(34, 122, 151);
        height: 100%;
        width: 100%;
        position: absolute;
        text-align: center;
        padding-top: 20%;
    }
}