/* Mobile Phone Portrait */
.Header {
    height: 7vh;
    background-image: url('../../assets/marble.webp');
    background-size: cover;
    display: grid;
    grid-template-columns: 7vh;
    grid-template-rows: 10vw 80vw 10vw;
}

.logo {
    margin: 1vw;
    height: 11vh;
    z-index: 2;
}

.login_icon {
    grid-column: 13;
    width: 5vh;
    font-size: 5vh;
    color: black;
    margin-top: 1vh;
}

.popupContainer {
    position: relative;
    display: inline-block;
}

.Header .popup {
    z-index: 2;
    background-image: url('../../assets/postit.webp');
    background-size: 60vw 100%;
    background-repeat: no-repeat;
    color: black;
    padding: 2vh;
    position: absolute;
    right: -87vw;
    top: -5.3vh;
    width: 60vw;
    font-weight: bold;
}

.popup input {
    width: 50vw;
    border: none;
    border-bottom: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgb(254, 254, 72);
}

.Header .closePopup {
    background-color: red;
    color: #F0EAD6;
    border-radius: 50%;
    font-size: 3vh;
    position: absolute;
    right: 6vw;
    top: 1vh;
    box-shadow: 3px 3px 5px black;
}

.forgotInfo {
    font-size: 1.7vh;
}

.login_button {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vh;
    margin-bottom: 1vh;
    background-color: #F0EAD6;
    border: 1px solid black;
    border-radius: 15px;
    padding: 1vh;
    font-weight: bolder;
    box-shadow: 5px 5px 5px;
}

.log_out {
    font-size: 3vh;
    position: absolute;
    right: 2vw;
    top: 1vh;
}

.logo:hover, 
.login_icon:hover,
.login_button:hover,
.closePopup:hover {
    cursor: pointer;
}

.logo:active {
    margin: 1.3vw;
}

.login_icon:active {
    margin-top: 1.3vh;
    margin-left: 1.3vw;
}

.login_button:active {
    margin-top: 2.8vh;
    margin-right: 3vw;
    box-shadow: none;
}

.Header .closePopup:active {
    right: 1.2vw;
    top: .8vh;
    box-shadow: none;
}

/* iPhone X 375x812 Portrait */
@media only screen and (min-width: 375px) and (min-height: 812px) {
    .Header .popup {
        top: -4vh;
        right: -85vw;
    }
}

/* iPad 768x1024 Portrait */
@media only screen and (min-width: 768px) and (min-height: 1024px) {
    .login_icon {
        width: 2vh;
    }

    .Header .popup {
        top: -7vh;
        right: -90vw;
        width: 40vw;
        height: 60vh;
        background-size: 40vw;
    }

    .Header .popup label {
        font-size: 3vw;
    }

    .Header .popup input {
        width: 30vw;
        height: 3vh;
        font-size: 2vh;
        margin-bottom: 2vh;
    }

    .login_button {
        font-size: 3vw;
        margin-top: 0;
    }

    .navLink {
        font-size: 3vh;
    }

    .closePopup {
        right: 4vw;
    }
}

/* Desktop */
@media screen and (min-width: 1025px) {
    .logo {
        height: 15vh;
    }

    .login_icon {
        width: 0;
    }

    .Header .popup {
        width: 15vw;
        height: 20vh;
        background-size: 100% 100%;
        top: -18.5vh;
        right: -92vw;
    }

    .popup input {
        width: 90%;
    }

    .Header .closePopup {
        right: 1.5vw;
        top: .5vh;
    }

    .login_button {
        margin-top: 2.5vh;
    }
}