.Recipes {
    text-align: center;
    box-shadow: -1px -5px 10px;
}

.Recipes_title {
    margin: 4vh;
    text-align: justify;
}

.RecipesList {
    border: 5px solid black;
    background-color: white;
    border-radius: 15px;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    height: 50vh;
    overflow: scroll;
    padding: 1vh;
    font-weight: bolder;
}

.toIngredients {
    height: 50px;
    font-size: 30px;
    border-radius: 15px;
    background-color: #2ecc71;
    border-style: none;
    padding: 5px;
    text-decoration: none;
    color: black;
    text-align: center;
}

.Recipes .ingredients {
    border: 5px solid black;
    border-radius: 15px;
    background-color: white;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: bolder;
}